
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    background-color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    color: #15161a;
    margin: 0;
    
}
/* text */
h1 {
    
    color: rgb(201, 201, 201);
    text-align: center;
    padding: 5px;
    }

h2 {
    display: inline-flex;
    font-family: "Bebas Neue";
    color: rgb(201, 201, 201);
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 24px;
  
}
h3 {
    text-align: center;
    color: rgb(201, 201, 201);
}
h4 {
    color:rgb(201, 201, 201)
}
h5 {
    color: rgb(201, 201, 201);
}
p {
    color: rgb(201, 201, 201);
}


hr {
    color: rgb(201, 201, 201);
    font-weight: bold;
    margin: 5px;
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(49, 49, 49, 0.63);
    opacity: 0.8;
    height: 70px;
    width: 100%;
    padding: 10px;
 
}


.headerDiv {
    display: inline-flex;
    justify-content: flex-start;
    width: 30%;
    z-index: 1;
    height: 70px;
    align-items: center;
    
   
}
.sabatonLogo {
    max-height: 60px;
}
 
/* nav för desktop */
.navBar {
    overflow: hidden;
    display: flex;
   
    width: 70%;
    height: 70px;
    justify-content: flex-end;
    align-items: center;


}
.navBar a {
    display: inline-flex;
    font-family: "Bebas Neue";
    color: rgb(201, 201, 201);
    text-decoration: none;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: center;
}

/* nav för mobilversion */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 15px 10px 15px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: rgb(56, 56, 56);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(80, 80, 80)
  }
  
  .show {
    display: block;
  }

  .mobileHeaderDiv {
    display: inline-flex;
    justify-content: flex-end;
    width: 30%;
    z-index: 1;
    height: 70px;
    align-items: center;
    
   
}
.mobileMenuLogo {
    max-height: 60px;
}

/* nedre del av header */
.topBg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: auto;     
}
.sabaton-band{
    justify-content: center;
    width: 100%;
   
}

.bottomBox {
    background-color: rgba(49, 49, 49, 0.63);
    padding: 10px ;
    justify-content:center;
    align-items: center;
    

}

/* innehåll */
.mainContainer {
    display: flex;
    width: 70%;
    font-family: "Roboto";
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgba(49, 49, 49, 0.63);
    padding: 30px;
   
}
.mainItem {
    max-width: 80%;
    font-size: 18px;
    font-weight: lighter;


}
/* footer */

footer {
    background-color: rgba(49, 49, 49, 0.63);
    width: 100%;
    height: 80px;
    color: rgba(49, 49, 49, 0.63);
    align-items: center;
    justify-content: space-evenly;

}

.footerDiv {
    display: flex;
   margin-left: 30px;

}


@media (max-width: 576px) {
    /* skriv din CSS för mobil här */
    p { font-size: 12px;
        line-height: 2;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        display: none;
    }
    .menuOne { display: none;
    }
    .headerDiv { display: none;
    }
    .navBar {
        width: 70%;
        justify-content: flex-start;
    }
   .mainContainer {
       width: auto;
       padding: 10px;
       margin: 5%;
   }
}

@media (min-width: 577px) {
    .dropdown { display: none;
    }
    .mobileHeaderDiv { display: none; 
    }
    .mobileMenuLogo { display: none;
    }
}